
.exp_header_container{
  background-color: var(--popup_softBackground);
  width: 100%;
  height: fit-content;
  padding-inline: 20px;
  padding-block: 20px;
  border-radius: 10px;
  display: flex;
  gap: 50px;
  align-items: center;
}
.exp_title_container{ 
  width: 70%;
}
.exp_title_container h4{
  padding-block: 3px;
}

.exp_title{
  background: linear-gradient(to right, #ba194700, var(--exp_border));
  width: fit-content;
  padding: 10px 0;
  border-radius: 0 30px 30px 0;
  padding-right: 3%;
}

.exp_circ_section_container{
  display: flex;
  align-items: center;
  justify-content: left;
  width: 30%;
  height: 100%;
}

.exp_list{
  list-style-type:disc;
  list-style-position: inside;
}
.exp_list li{
  padding-block: 3px;
}
.exp_list li::marker{
  color: var(--exp_color);
}


.exp_work_container{
  width: 100%;
  background-color: var(--popup_softBackground);
  padding-inline: 25px;
  padding-block: 15px;
  margin-block: 20px;
}
.exp_work_container_row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exp_link{
  color: var(--link_color);
}
.exp_link:hover{
  opacity: 0.7;
}
.exp_link:active{
  color: var(--popup_fontColor);
}




@media (max-width: 876px) {
  .exp_title_container{
    width: 100%;
  }
  .exp_circ_section_container{
    display: none;
  }
  .exp_work_container_row{
    flex-direction: column;
    align-items:start;
  }

}




@media (max-width: 576px) {

  .exp_header_container{
    padding-inline: 10px;
    flex-direction: column;
  }
}