

.edu_header_container{
  background-color: var(--popup_softBackground);
  width: 100%;
  height: fit-content;
  padding-inline: 20px;
  padding-block: 20px;
  border-radius: 10px;
  display: flex;
  gap: 50px;
  align-items: center;
}
.edu_title_container{ 
  width: 70%;
}
.edu_title_container h4{
  padding-block: 3px;
}

.edu_date{
  color: var(--popup_fontColor_soft);
}

.edu_title{
  background: linear-gradient(to right, #ba194700, var(--edu_border));
  width: fit-content;
  padding: 10px 0;
  border-radius: 0 30px 30px 0;
  padding-right: 3%;
}


.edu_circ_section_container{
  display: flex;
  align-items: center;
  justify-content: left;
  width: 30%;
  height: 100%;
}

.coursework_container{
  padding-inline: 25px;
  padding-block: 15px;
  margin-top: 50px;
}
.coursework_container h3{
  width: fit-content;
  position: relative;
  padding-block: 5px;
  padding-right: 25px;
}
.coursework_container h3::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: var(--edu_color);
}

.coursework_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  padding-block: 10px;
  gap: 20px;
}

.coursework_grid div{
  background-color: var(--popup_softBackground);
  padding: 20px;
  border-radius: 10px;
}
.coursework_grid div:hover{
  background-color: var(--edu_border);
}

.coursework_grid p{
  color: var(--popup_fontColor_soft);
}



@media (max-width: 876px) {
  .edu_title_container{
    width: 100%;
  }
  .edu_circ_section_container{
    display: none;
  }
  .coursework_container{
    padding-inline: 10px;
  }
}




@media (max-width: 576px) {

  .edu_header_container{
    padding-inline: 10px;
    flex-direction: column;
  }
}