
.canvas_container{
  width: 100%;
  height: 100%;
  position: relative;
}

.experience_text_in_scene > div, .education_text_in_scene > div, .proj1_text_in_scene > div, .proj2_text_in_scene > div, .proj3_text_in_scene > div, .proj4_text_in_scene > div {
  font-weight: 800;
  user-select: none;
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 5px;
  backdrop-filter: blur(1px);
  opacity: 0;
  pointer-events: none;
  font-size: 18px;
  white-space: nowrap;/* no new lines*/
  display: inline-block;/* no new lines*/
}

.experience_text_in_scene > div {
  outline: 3px solid var(--exp_color);
  background-color: var(--exp_border);

}

.education_text_in_scene > div {
  outline: 3px solid var(--edu_color);
  background-color: var(--edu_border);
}

.proj1_text_in_scene > div, .proj2_text_in_scene > div, .proj3_text_in_scene > div, .proj4_text_in_scene > div {
  outline: 3px solid var(--proj_color);
  background-color: var(--proj_border);
}






.edu_container, .proj_container{
  width: 100%;
  height: 100%;
  background-color: var(--popup_background);
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}


.edu_content, .proj_content{
  width: min(70%, 1400px);
  height: 91%;
  background: var(--popup_container_background);
  border-radius: 15px;
  padding: 30px 40px;
  transform: translateY(12px);
  overflow-y: auto;
  cursor: auto;
  transition: transform .4s ease, box-shadow .25s ease-in-out;
}
.edu_content::-webkit-scrollbar-thumb {
  background-color: var(--edu_border);
}
.edu_content::-webkit-scrollbar-thumb:hover {
  background-color: var(--edu_color);
}
.proj_content::-webkit-scrollbar-thumb {
  background-color: var(--proj_border);
}
.proj_content::-webkit-scrollbar-thumb:hover {
  background-color: var(--proj_color);
}


.edu_content {
  box-shadow: inset 0px 0px 10px 1px var(--edu_border);
  outline: 3px solid var(--edu_border);
}
.edu_content:hover {
  box-shadow: inset 0px 0px 10px 4px var(--edu_border);
}
.proj_content{
  box-shadow: inset 0px 0px 10px 1px var(--proj_border);
  outline: 3px solid var(--proj_border);
}
.proj_content:hover {
  box-shadow: inset 0px 0px 10px 4px var(--proj_border);
}

.edu_content::selection {
  background: var(--edu_color);
}
.proj_content::selection {
  background: var(--proj_color);
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.topSection p {
  border-radius: 10px;
  padding: 2px 12px;
  width: fit-content;
}

.edu_topSection p {
  background-color: var(--edu_border);
  outline: 2px solid var(--edu_color);
}
.proj_topSection p {
  background-color: var(--proj_border);
  outline: 2px solid var(--proj_color);
}

.edu_topSection svg {
  cursor: pointer;
  fill: var(--edu_color);
}
.proj_topSection svg {
  cursor: pointer;
  fill: var(--proj_color);
}

.edu_topSection svg:hover, .proj_topSection svg:hover {
  fill: var(--popup_fontColor);
}





@media (max-width: 576px) {
  .edu_content, .proj_content {
    width: 95%;
    height: 93%;
    padding: 15px 10px;
  }

  .edu_content:hover {
    box-shadow: inset 0px 0px 10px 1px var(--edu_border);
  }
  .proj_content:hover {
    box-shadow: inset 0px 0px 10px 1px var(--proj_border);
  }
}