:root{

  --popup_fontColor: aliceblue;
  --edu_color: #c22652;
  --edu_border: #c2265256;

  --exp_color: #8ba046;
  --exp_border: #8ba0468f;

  --proj_color: #b8ae89;
  --proj_border: #b8ae898f;
  
}

*{
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

html,
body,
#root
{
  font-family: 'Playpen Sans', Arial;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--popup_fontColor);
  font-size: 16px;
}

h1{
  font-size: 50px;
}

.experience_text_in_scene > div, .education_text_in_scene > div, .proj1_text_in_scene > div, .proj2_text_in_scene > div, .proj3_text_in_scene > div, .proj4_text_in_scene > div {
  font-weight: 800;
  user-select: none;
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 5px;
  backdrop-filter: blur(1px);
  opacity: 0;
  pointer-events: none;
  font-size: 18px;
  white-space: nowrap;/* no new lines*/
  display: inline-block;/* no new lines*/
}

.experience_text_in_scene > div {
  outline: 3px solid #8ba046;
  background-color: #8ba04621;

}

.education_text_in_scene > div {
  outline: 3px solid var(--edu_color);
  background-color: var(--edu_border);
}

.proj1_text_in_scene > div, .proj2_text_in_scene > div, .proj3_text_in_scene > div, .proj4_text_in_scene > div {
  outline: 3px solid #b8ae8946;
  background-color: #b8ae8921;
}



















/* playpen-sans-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/playpen-sans-v22-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playpen-sans-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/playpen-sans-v22-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playpen-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/playpen-sans-v22-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playpen-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playpen-sans-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playpen-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/playpen-sans-v22-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playpen-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/playpen-sans-v22-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playpen-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/playpen-sans-v22-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playpen-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/playpen-sans-v22-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
