*{
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}



html,
body,
#root
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text_in_scene{
  background: #ff0000;
  color: white;
  font-weight: 800;
  user-select: none;
  text-transform: uppercase;
}

