.shortcut_container{
  width: 100%;
  height: 45px;
  z-index: 2;
  position: absolute;
  bottom: 10px;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;

}
.shortcut_circles_container{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding-inline: 18px;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.35s ease-in-out, background-color 0.35s ease-in-out;
  border-radius: 30px;
}
.shortcut_circles_container:hover{
  opacity: 1;
}

.circular_shortcut{
  width: 21px;
  height: 21px;
  z-index: 5;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  transition: outline-color 0.2s ease-in-out;
  outline: 3px solid transparent;
  transform: translateY(60px);
  
}
.circular_shortcut:hover{
  outline-color: var(--popup_fontColor);
}
.circular_shortcut:active{
  background-color: var(--popup_fontColor);
}

.education_shortcut{
  background-color: var(--edu_color);
}
.proj_shortcut{
  background-color: var(--proj_color);
}
.experience_shortcut{
  background-color: var(--exp_color);
}


@media (max-width: 576px) {
  .shortcut_container{
    bottom: 8px;
    height: 35px;
  }
  .shortcut_circles_container{
    gap: 18px;
    opacity: 1;
  }
  .circular_shortcut{
    width: 18px;
    height: 18px;
  }
}